.App {
  text-align: center;
  background-color:'black'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  font-family: 'Poppins';
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100wh;
  height: 100vh;
}

.form{
  /** Sizeable width for the form **/
  width: fit-content; 
  /** Sizeable height for the form **/
  height:fit-content;
  /** Black color with opacity **/
  background-image:linear-gradient(to bottom right, rgba(255, 68, 204, 0.4), rgba(255,255,255,0));
  backdrop-filter:blur(10px);
  box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
  /** Responsive layout **/
  display:flex;
  /** One element on top of the other **/
  flex-direction:column;
  /** Vertically at the center **/
  justify-content: center;
  /** Smooth corners **/
  border-radius:10px;
  /** Top, bottom, right, and left spacing between form and it's content **/
  padding:20px;
  /** Spacing from the top **/
  margin-top:10px;
}

.image-bg{
  background-image:linear-gradient(to bottom , rgba(255, 68, 204,0), rgba(0,0,0,0),  rgba(0, 0, 0, 1)), url('Images/int2_C.jpeg');
  background-color: #000000;
  background-size:cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  width: 100wh;
  height:fit-content;
  color: #fff;
  /* -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; */
}

.normal{
  background-color: #000000 ;
  background-image:linear-gradient(to bottom , rgba(255, 68, 204,0), rgba(0,0,0,0),  rgba(255, 68, 204,0));
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100wh;
  height:fit-content;
  color: #fff;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  margin-bottom:-1%;
}

.color-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  }

  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
