name: Deploy to GitHub Pages
    on:
      merge:
        branches:
          - main
    jobs:
      build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v1

        - name: Build
          run: |
            npm install
            npm run build
          env:
            REACT_APP_APIKEY: ${{ secrets.REACT_APP_APIKEY }}
            REACT_APP_AUTHDOMAIN: ${{ secrets.REACT_APP_AUTHDOMAIN}}
            REACT_APP_PROJECTID: ${{ secrets.REACT_APP_PROJECTID }}
            REACT_APP_STORAGEBUCKET: ${{ secrets.REACT_APP_STORAGEBUCKET }}
            REACT_APP_MESSAGINGSENDERID: ${{ secrets.REACT_APP_MESSAGINGSENDERID }}
            REACT_APP_APPID: ${{ secrets.REACT_APP_APPID }}

        - name: Deploy
          uses: JamesIves/github-pages-deploy-action@releases/v3
          with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_KEY }}
            BRANCH: gh-pages
            FOLDER: dist
